:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --highlight-bg: #292929;
  --accent-color: #d6d6d6;
  --primary-text: #e0e0e0;
  --secondary-text: #27ae60;
  --border-color: #121212;
  --muted-border: #27ae5f7a;
}
